body {
    background-color: rgb(212, 203, 179);
    color:black;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(106, 84, 66);
    font-family: cursive;
    font-size: 60px;
    padding-top: 1em;

}

h3 {
    color: rgb(106, 84, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 1px;

}

#largeContainer {
    background-color: rgb(171, 154, 132);
    margin-left: 7em;
    margin-right: 7em;
}

#imageContainer {
    position:relative;
    width: 900px;
    margin: auto;
    padding-bottom: 1em;

}

#seasonImage {
    width: 900px;
    position: relative;
    border: 10px solid rgb(106, 84, 66);
}

#seasonSquare {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 150px;
    left: 320px;
    opacity: 0.6;
    background: green;
}

#seasonText {
    font-size: 35px;
    margin-top: 20px;
    position: relative;
    color: rgb(106, 84, 66);
    padding-bottom: 1em;
}

/*
button {
    margin-top: 10px;
    padding: 10px 20px;
}
*/